<div class="container">
  <app-search></app-search>
  <div class="row" style="margin-top:48px">
    <div class="col-xl-5 d-flex justify-content-center align-items-center">
      <div>
        <h1 class="display-6">Kiralık bir araba ile özgürce seyahat etmek isteyen?</h1>
        <p class="col-10">
         Hangi tarzda araba bakmıştınız? Size Yardımcı Olalım!
        </p>
      </div>
    </div>
    <div class="col-xl-7 d-none d-xl-block">
      <div id="card-bg" class="rounded-3">
        <img
          src="../../../assets/images/tire-track.png"
        />
      </div>
      <img
        id="car-image"
        src="../../../assets/images/mustang-car.png"
        height="400"
      />
    </div>
  </div>
</div>
