<div class="bg-light col-12 col-xl-8 rounded-1 shadow my-5 my-xl-0 p-3 ps-4">
  <form class="row">
    <div class="col-md form-group">
      <label for="pick-up-date-input" class="form-label text-dark"
        >Alındığı Yer:</label
      >
      <select class="form-select">
        <option selected>Şehir Seçin<i></i></option>
        <option value="1">Bir</option>
        <option value="2">İki</option>
        <option value="3">Üç</option>
      </select>
    </div>
    <div class="col-md form-group">
      <label for="pick-up-date-input" class="form-label text-dark"
        >Alındığı Tarih:</label
      >
      <input
        class="form-control"
        type="datetime-local"
        [value]="DateTimeNow | date: 'yyyy-MM-ddThh:mm'"
        id="pick-up-date-input"
      />
    </div>
    <div class="col-md form-group">
      <label for="return-date-input" class="form-label text-dark"
        >Teslim Edildiği Tarih:</label
      >
      <input
        class="form-control"
        type="datetime-local"
        [value]="DateTimeNow | date: 'yyyy-MM-ddThh:mm'"
        id="return-date-input"
      />
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Ara
    </button>
  </form>
</div>
